.footer {
    background-color: var(--grey-color);
    padding: 20px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--light-color-two);
    padding: 10px 30px;
}

.footer__logo-name {
    font-family: var(--logo-font);
    font-size: 28px;
    font-weight: 700;
    color: var(--logo-color);
    margin-bottom: 8px;
}

.footer__logo-text {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--light-color);
}

.footer__contact-title {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: var(--light-color);
    margin-bottom: 10px;
    animation: blinking 2s infinite;
}
@keyframes blinking {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.footer_contact-item {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    color: var(--light-color);
    margin-bottom: 5px;
    transition: var(--function-transition);

    &:hover {
        color: var(--link-hover-color);
    }
}

.footer__social-title {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: var(--light-color);
    margin-bottom: 20px;
}

.footer__social-list {
    display: flex;
}

.footer__social-item:not(:last-child) {
    margin-right: 10px;
}

.footer__social-icon {
    transition: var(--function-transition);

    &:hover {
        border: 2px solid var(--border-color); // ?
        border-radius: 50%; // ?
    }
}

.footer-copyright {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--light-color-two);
    padding-top: 20px;
}