#btnScrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 13px;
    z-index: 5;
    font-size: 28px;
    border: none;
    outline: none;
    background-color: var(--grey-color);
    color: var(--light-color);
    cursor: pointer;
    padding: 10px 13px;
    border-radius: 50%;
    transition: var(--function-transition);

    &:hover {
        background-color: var(--secondary-text-color);
    }
}
