:root {
    --logo-font: 'Montserrat Subrayada', sans-serif;
    --accent-font: 'Inter', sans-serif;
    --second-font: 'Open Sans';
    --accent-color: #E3E8F5;
    --translucent-accent-color: rgb(227, 232, 245, 0.9);
    --primary-color: #A0B6EF;
    --line-color: #e6b514;
    --secondary-color: #2329D6;
    --other-color: #878FA9;
    --text-color: rgba(0, 0, 0, 0.60);
    --text-color-two: #686E80;
    --footer-bg: #303748;
    --button-color: #8092BF;
    --black: #000000;
    --white: #FFFFFF;
    --func-transition: 450ms cubic-bezier(0.4, 0, 0.2, 1);
}