:root {
    --logo-font: 'Montserrat Subrayada', sans-serif;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --logo-color: #0000ff;
    --primary-text-color: #808080;
    --secondary-text-color: #585858;
    --border-color: #dfdfdf;
    --background-overlay-color: rgba(33, 150, 243, 0.9);
    --goit-color: #fd9309;
    --grey-color: #a0a0a0;
    --grey-color-two: #f3f3f3;
    --link-hover-color: #3a86f8;
    --light-color: #ffffff;
    --light-color-two: #ececec;
    --function-transition: 350ms ease-in;
    --function-transition-two: 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --function-transition-three: 650ms ease-in-out;
}