.wrapper {
    max-width: 1202px;
    margin: 20px auto;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 1px 4px 44px 0px var(--primary-color);
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__list {
        display: flex;
    }
    &__link {
        display: block;
        font-family: var(--accent-font);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.4px;
        color: var(--black);
    }
}

// For mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
    .wrapper {
        margin: 10px auto;
    }
    .header-inner {
        padding: 20px;
    }
    .mob-menu__open {
        border: none;
        background: transparent;
        fill: var(--button-color);
    }
}

// For tablet
@media screen and (min-width: 768px)  and (max-width: 1199px) {
    .header-inner {
        padding: 30px 42px;
        &__item:not(:last-child) {
            margin-right: 25px;
        }
        &__link {
            font-size: 20px;
        }
        // &__earth-icon {
        //     width: 20px;
        //     height: 20px;
        // }
    }
}

// For Desktop
@media screen and (min-width: 1200px) and (max-width: 2560px) {
    .header-inner {
        padding: 30px 72px;
        &__item:not(:last-child) {
            margin-right: 45px;
        }
        &__link {
            font-size: 24px;
            transition: var(--func-transition);
            &:hover {
                color: var(--other-color);
                // color: var(--white);
            }
        }
    }
}

// Анимация иконки переключения языка
// .header-inner__earth-icon {
//     fill: var(--black);
//     transition: var(--func-transition);
//     cursor: pointer;
//     &:hover {
//         fill: var(--other-color);
//     }
//     &:active {
//         transform: scale(0.8);
//     }
// }